---
layout: default
meta_title: Home
meta_description: Hackerspace Mumbai Blog Home page
body_class: home
title: Welcome to Hackerspace Mumbai!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>Mumbai's largest OSS community and organizing its longest running [over 8 years] tech meetup #mumtechup</p>
            

            <h2 class="text-3xl">What we do</h2>

            <ul class="mb-12 list-disc pl-4">
                <li><h3 class="text-2xl">
                        <a href="https://www.meetup.com/Mumbai-Technology-Meetup/">
                            Mumbai Technology Meetup #mumtechup
                        </a>
                    </h3>
                    <p>A monthly meetup usually consisting of 3-4 sessions revolving around a theme. The target audience are 
                       folks with intermediate experience but we reserve a few places for freshers.
                    </p>    
                </li>
                <li>
                    <h3 class="text-2xl">
                        <a href="https://fb.com/fccmum" >
                            freeCodeCamp
                        </a>
                    </h3>
                    <p>One of our primary goal is to enable folks from all walks of life to be able to code and in this
                     we found freecodecamp an ideological ally and a superlative resource. Most of our meetups have 
                     a dedicated session for folks undertaking the freeCodeCamp challenges so that they can share 
                     and encourage each other's progress towards being a full stack developer.
                </li>
                <li>
                    <h3 class="text-2xl">
                        <a href="https://proto.school/">Protoschool</a>
                    </h3>
                    <p>Being an OSS community, we believe that privacy is an inviolable right of an individual 
                    and to this end, we support and work towards a decentralized web. 
                    Along with freeCodeCamp, we host Protoschool sessions for enabling folks to take their 
                    first steps into #dWeb.
                    </p>
                </li>
                <li>
                    <h3 class="text-2xl">
                        <a href="http://augustinecorrea.eventbrite.com/">Bootcamps & Workshops</a>
                    </h3>
                    <p>If you go by last few year analytics, our most sought after events are 
                    bootcamps which comprises of day long coding sessions followed by hackathons. 
                    These are usually theme based like cloud, #AI, #MixedReality etc. 
                    Also we partner with MLH to conduct hackathons, giving special emphasis on student participation.
                    </p>
                </li>
            </ul>
            <h2 class="text-3xl">बिंदास, बनून टाक 🙏 </h2>
        </div>

    </section>

</main>
